/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
} */

/* styles.css */
.app-container {
  display: flex;
}

.side-panel {
  width: 200px;
  background-color: #f8f9fa;
  padding: 10px;
}

.side-panel-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.side-panel-link.active {
  background-color: #007bff;
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
