@import 'variables';

html, body, #root {
  height: 100%;
  width: 100%; /* Ensure full width */
  margin: 0;
  padding: 0;
}

#content {
  margin-left: $sidebar-width;
  padding: 20px;
  height: calc(100vh - $header-height);
  overflow-y: auto;
}

#user-list {
  margin-top: 16px;
  margin-bottom: 16px;
}
